@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1779506982127') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-git:before {
  content: "\e61b";
}

.icon-JavaScript:before {
  content: "\e704";
}

.icon-React:before {
  content: "\e799";
}

.icon-Nodejs:before {
  content: "\e7a4";
}

.icon-css:before {
  content: "\e61e";
}

.icon-html:before {
  content: "\e632";
}

.icon-babel:before {
  content: "\e69d";
}

.icon-antd:before {
  content: "\e677";
}

.icon-scss:before {
  content: "\e501";
}

.icon-tailwindcss_:before {
  content: "\ea15";
}

.icon-pnpm:before {
  content: "\e50c";
}

.icon-vite:before {
  content: "\e66b";
}

.icon-Typescript:before {
  content: "\e6e5";
}

.icon-es6:before {
  content: "\e7ac";
}

.icon-a-npmyarnpnpm:before {
  content: "\e627";
}

